*{
    margin:0;
}
.main-header{
    background-color: lightgray;
    background-image:url(../images/header-img.jpg);
    height:200px;
    width:100%;
    background-repeat: repeat-x;
    background-position: center;
}
.main-title{
    text-align: center;
    text-shadow: 2px 5px 5px black;
    color: white;
}
.menu-bar{
    display: flex;
    justify-content:space-around;
    list-style: none;
    color:white;
    font-weight: 700;
    margin-top:140px;
    margin-left: 50px;
    margin-right: 100px;
}
